@require "styles/util/box"
@require "styles/util/position"
@require "styles/reset"

body
  background-color lightgray

small()
  color gray
  font-size 0.8rem

.content
  u-mar t 3rem
  u-mar b 3rem
  u-fill a
  background-color lightgray

.content-block
  u-mar t 1rem
  background-color white
  

.search-bar
  background-color gray
  u-pad a 0.5rem
  height 3rem
  
.search-input
  text-align center
  width 100%
  height 2rem
  line-heiht 2rem
  border none
  border-radius 0.3rem
  reset-theme()
  background-color white

.list-item
  position relative
  top 0
  u-pad l 1rem
  u-pad r 1rem
  background-color white
  border-bottom 2px lightgray solid

  &:last-child
    border none


.one-line-input-box
  position relative
  top 0
  u-mar l 1rem
  u-mar r 1rem
  background-color white
  height 3rem
  line-height 3rem
  border-bottom 2px lightgray solid

  &:last-child
    border none

.mulit-line-input-box
  position relative
  top 0
  u-mar l 1rem
  u-mar r 1rem
  u-pad t 0.5rem
  u-pad b 0.5rem
  background-color white
  border-bottom 2px lightgray solid  

  &:last-child
    border none
  
.mulit-line-input--nav
  u-pad t 0.5rem
  u-pad b 0.5rem
  height 2rem
  line-height 2rem

.mulit-line-input--text
  u-pad t 0.5rem
  u-pad b 0.5rem


.popup-background
  u-fill a true
  background-color rgba(100,100,100,0.7)

.popup
  position absolute
  top 50%
  left 50%
  transform translate3d(-50%, -50%, 0);

  min-width 16rem
  background-color white
  bdrz 0.5rem

.popup-main
  u-pad a 1rem
  border-bottom 2px lightgray solid
  border-top-left-radius 0.5rem
  border-top-right-radius 0.5rem

.popup-footer
  &::after
    clear both

.popup-footer-left
  display inline-block
  float left
  width 50%
  border-bottom-left-radius 0.5rem
  text-align center
  line-height 3rem
  border-right 2px lightgray solid

.popup-footer-right
  display inline-block
  float left
  width 50%
  border-bottom-right-radius 0.5rem
  text-align center
  line-height 3rem



