
$control-py = 0.8rem

.goods-list-header
  pad 0.5rem 1rem
  bdt 3px solid $pc
  bg #fff

.select
  reset-theme()
  pos rela

.select-control
  dis bl
  pad 1rem
  cc #aaa #fff
  py $control-py
  pr 2rem
  bdrz 4px
  
.select-dd
  u-fill(r)
  size 2rem
  ta cen
  fz 1.5rem
  cc #aaa
  py ($control-py - 0.3rem)

.select-field
  dis no

.number
  pos rela
  pr 1.5rem
  dis bl

.number-control
  reset-space()
  reset-theme()
  reset-font()
  lh 1.5
  w 100%
  ta r
  bg #fff
  py $control-py
  bdrz 4px

.number-label
  u-fill(r)
  size 1rem
  ta cen
  py $control-py



.action-create
  reset-theme()
  ta cen
  cc #aaa
  pad $control-py
  bd 1px dotted #fff
  bdrz 4px
  .icon
    cc $pc

.list-container
  bg #fff

.list-row
  bg $bgc

.list-left
  cc #555
  py $control-py
  pl 2rem

.list-right
  cc #888
  ta r
  py $control-py
  pr 2rem

.list-left
.list-right
  pos rela

.list-arrow
  u-fill(r)
  size 2rem
  ta cen
  py 0.5rem
  fz 1.5rem

.list-icon
  u-fill(l)
  size 2rem
  ta cen
  py 0.5rem
  fz 1.5rem
  .icon
    cc $pc


.radio
  pos rela
  pl 1.5rem
  dis ib

.radio-field
  dis no

.radio-control
  u-fill(l)
  t 0.2rem
  dis ib
  size 1rem
  bdrz 50%
  bd 1px solid $pc

  &:after
    ctx ""
    pos abso
    dis ib

    $s = 0.6
    size unit($s, rem)
    bg $pc
    bdrz 50%
    l 50%
    t 50%
    ml - unit(($s / 2), rem)
    mt - unit(($s / 2), rem)

.footer
  u-fill(b, true)
  h unit((1 * 1.5 + 2), rem)
  bg #fff

.footer-left
  pad 1rem

.footer-right
  pad 1rem
  size 8rem 100%
  cc #fff $pc
  ta cen



.red
  color red

.edit-user-input-box
  position relative
  top 0
  u-mar l 1rem
  u-mar r 1rem
  u-mar t 0.5rem
  u-mar b 0.5rem
  background-color white
  height 2rem
  line-height 2rem
  border-bottom 2px lightgray solid

.edit-user-focus
  border-bottom 2px red solid


.edit-user-input
  display inline-block
  width auto
  reset-theme()
  border none

.goods-commit
  text-align center
  u-pad a 1rem
