@require "styles/util/box"
@require "styles/util/position"
@require "styles/reset"

@require "_base"


.store-create-nav
  display inline-block
  width 6rem
  height 3rem
  line-height 3rem
  u-fill l

.store-create-nav-line
  width 100%
  height 2rem
  line-height 2rem

.store-create-input
  display inline-block
  u-mar l 6rem
  width auto
  reset-theme()
  border none
  
.store-create-input__mulit-line
  reset-theme()
  border none
  width 100%
  min-height 3rem
  resize none


.action-save
  ta cen
  pad 1rem
  cc #fff $pc
