@require "styles/util/box"
@require "styles/util/position"
@require "styles/reset"

@require "_base"

.list-store-item
  height 4rem
  line-height 4rem

.checkbox
  pos rela
  pl 1.5rem
  dis ib

  .icon
    dis no
    fz 1.5rem
    cc $pc
    lh 1

.checkbox.active
  .checkbox-circle
    dis no
  .icon
    dis ib

.checkbox-field
  dis no

.checkbox-circle
  dis ib
  size 1.2rem
  bdrz 50%
  bd 1px solid #ddd
