@require "styles/util/box"
@require "styles/util/position"
@require "styles/reset"

@require "_base"


.header
  u-fill(t, true)
  height 3rem
  line-height 3rem
  width 100%
  background-color white

.header--left,.header--right
  u-pad l 1rem
  u-pad r 1rem

.header--main
  u-fill a
  text-align center

.list-user-item
  u-pad t 0.5rem
  u-pad b 0.5rem
  height 4rem

.user-info
  height 3rem

.user-name
  height 2rem
  line-height 2rem

.user-name--full
  height 1rem
  line-height 1rem
  cc #aaa
  fz 0.8rem

.user-detial
  u-fill r
  u-pad r 1rem
  line-height 4rem
  fz 1.5rem
  cc #aaa




  



