{# -*- mode: jinja2 -*- #}

{% import "tpls/macros.html" as $ %}

{% block content %}
 <main>
     <div class="content">
         <div class="content-block">
             <div class="list-item list-store-item">
                 <div class="store-name">华北仓库</div>
             </div>
             <div class="list-item list-store-item">
                 <div class="store-name">华北仓库</div>
             </div>
             <div class="list-item list-store-item">
                 <div class="store-name">华北仓库</div>
             </div>
             <div class="list-item list-store-item">
                 <div class="store-name">华北仓库</div>
             </div>
             <div class="list-item list-store-item">
                 <div class="store-name">华北仓库</div>
             </div>
         </div>
     </div>
 </main>
{% endblock %}


{% block styles %}
  {{ $.css("index") }}
{% endblock %}


{% block scripts %}
  {{ $.js("vendor.dll") }}
  {{ $.js("tool.dll") }}
  {{ $.js("commons") }}
  {{ $.js("index") }}
{% endblock %}


{% extends "tpls/page.html" %}

