{% import "tpls/macros.html" as $ %}

{% block content %}
<main>
    <div class="">
        <div class="content-block">
            <div class="search-bar">
                <input class="search-input" placeholder="客户简称"/>
            </div>
            <div class="list-item list-user-item">
              <a href="#">
              <div class="user-info">
                <div class="user-name">
                  北京七街
                </div>
                <div class="user-name--full">
                  北京七街健身俱乐部管理有限公司
                </div>
              </div>
              <div class="user-detial">
                <span class="ion-ios-arrow-forward"></span>
              </div>
              </a>
            </div>

            <div class="list-item list-user-item">
              <a href="#">
                <div class="user-info">
                  <div class="user-name">
                    北京七街
                  </div>
                  <div class="user-name--full">
                    北京七街健身俱乐部管理有限公司
                  </div>
                </div>
                <div class="user-detial">
                  <span class="ion-ios-arrow-forward"></span>
                </div>
              </a>
            </div>

            <div class="list-item list-user-item">
              <a href="#">
                <div class="user-info">
                  <div class="user-name">
                    北京七街
                  </div>
                  <div class="user-name--full">
                    北京七街健身俱乐部管理有限公司
                  </div>
                </div>
                <div class="user-detial">
                  <span class="ion-ios-arrow-forward"></span>
                </div>
              </a>
            </div>
        </div>
    </div>
</main>
{% endblock %}


{% block styles %}
  {{ $.css("index") }}
{% endblock %}


{% block scripts %}
  {{ $.js("vendor.dll") }}
  {{ $.js("tool.dll") }}
  {{ $.js("commons") }}
  {{ $.js("index") }}
{% endblock %}


{% extends "tpls/page.html" %}

