{# -*- mode: jinja2 -*- #}

{% import "tpls/macros.html" as $ %}

{% block content %}
<main>
    <div class="header">
        <div class="header--left">
            (-
        </div>
        <div class="header--main">
            客户列表
        </div>
        <div class="header--right">
        </div>
    </div>

    <div class="content">
        <div class="content-block">
            <div class="search-bar">
                <input class="search-input" placeholder="客户简称"/>
            </div>
            <div class="list-item list-user-item">
                <div class="user-info">
                    <div class="user-name">
                        北京七街
                    </div>
                    <div class="user-name--full">
                        北京七街健身俱乐部管理有限公司
                    </div>
                </div>
                <div class="user-detial">*</div>
            </div>
            <div class="list-item list-user-item">
                <div class="user-info">
                    <div class="user-name">
                        北京七街
                    </div>
                    <div class="user-name--full">
                        北京七街健身俱乐部管理有限公司
                    </div>
                </div>
                <div class="user-detial">*</div>
            </div>
            <div class="list-item list-user-item">
                <div class="user-info">
                    <div class="user-name">
                        北京七街
                    </div>
                    <div class="user-name--full">
                        北京七街健身俱乐部管理有限公司
                    </div>
                </div>
                <div class="user-detial">*</div>
            </div>
            <div class="list-item list-user-item">
                <div class="user-info">
                    <div class="user-name">
                        北京七街
                    </div>
                    <div class="user-name--full">
                        北京七街健身俱乐部管理有限公司
                    </div>
                </div>
                <div class="user-detial">*</div>
            </div>
            <div class="list-item list-user-item">
                <div class="user-info">
                    <div class="user-name">
                        北京七街
                    </div>
                    <div class="user-name--full">
                        北京七街健身俱乐部管理有限公司
                    </div>
                </div>
                <div class="user-detial">*</div>
            </div>
        </div>
    </div>
</main>
{% endblock %}


{% block styles %}
  {{ $.css("index") }}
{% endblock %}


{% block scripts %}
  {{ $.js("vendor.dll") }}
  {{ $.js("tool.dll") }}
  {{ $.js("commons") }}
  {{ $.js("index") }}
{% endblock %}


{% extends "tpls/page.html" %}

